<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AliDemir_UserControlLinqToSql.Properties.Settings.ProductInformationConnectionString"
            connectionString="Data Source=ABC-BILGISAYAR\MHMTENES13;Initial Catalog=ProductInformation;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
        <add name="AliDemir_UserControlLinqToSql.Properties.Settings.TurkeyProvincesConnectionString"
            connectionString="Data Source=ABC-BILGISAYAR\MHMTENES13;Initial Catalog=TurkeyProvinces;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>